<!doctype html>
<html lang="nl">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/hack-font@3/build/web/hack.css">
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <footer class="footer">
        <div class="left">
            &copy; {{ 'now'|date('Y') }}
            <a href="https://when.lol/">https://when.lol/</a>,
            another useless project by <a href="https://wouterdeschuyter.be/" title="Wouter De Schuyter">wouterds</a>
        </div>

        <div class="right">
            <a href="https://t.me/whenlol">Telegram</a>
        </div>
    </footer>

    <script type="text/javascript" src="/static/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
</body>
</html>
