@import "_reset.scss";

body,
html,
#wrapper {
  height: 100%;
}

body {
  font-family: Hack, Menlo, monospace, sans-serif;
  background: #fafafa;
}

.navigation {
  margin-bottom: 25px;

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    display: block;
    padding: 10px;
    background: #333;
    color: #fff;

    &:hover {
      background: #000;
    }
  }
}

.wrapper {
  display: table;
  width: 100%;
  position: relative;
  font-size: 1.4em;
  padding: 0 25px;
  box-sizing: border-box;
}

div.middle-container {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  padding-bottom: 75px;
  padding-top: 25px;

  div.middle {
    display: inline-block;
    font-weight: 300;
    color: #333;

    .input,
    .url-input,
    .image {
      max-width: 100%;
      width: 100%;
    }

    .image-wrapper {
      background: #fff;
      margin: 10px 0;
      border: 1px solid #eee;
      padding-bottom: 75%;
      position: relative;
      width: 640px;

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 640px;
      }
    }

    .input-wrapper {
      position: relative;
      padding-right: 99px;

      .submit {
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        background: #333;
        border: 1px solid #333;
        color: #fff;
        padding: 16px 15px 17px;
        font-size: 1.2em;
        text-align: center;
        display: inline-block;
        cursor: pointer;

        &:hover {
          background: #000;
        }
      }
    }

    .input,
    .url-input {
      background: #fff;
      padding: 15px;
      font-size: 1.4em;
      font-weight: 600;
      color: #4e505c;
      border: 1px solid #eee;
      text-align: center;

      &:focus {
        color: #2c2e38;
      }
    }

    .url-input-wrapper {
      position: relative;
    }

    .url-input {
      font-weight: 500;
      transition: 200ms background ease-in-out;
      margin: 0;
      font-size: 1.2em;
      padding: 12px;
      border-top: 0;
    }
  }
}

.gallery-item {
  width: 350px;
  padding: 5px;
  background: #fff;
  border: 1px solid #eee;
  display: inline-block;
  margin: 15px;
  position: relative;

  &__image {
    position: relative;
    content: '';
    padding-bottom: 75%;
    background: #fefefe;

    img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__id {
    background: #333;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    margin: -5px -5px 10px;
    display: block;
  }
}

::placeholder {
  color: #aaa;
}

#image,
input {
  width: 100%;
  overflow: hidden;
}

input {
  outline: 0;
  border: 0;
  background: none;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 300;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  color: #999;
}

.url-input {
  &::selection {
    background: #406ffe;
    color: #fff;
  }
}
