<nav role="navigation" class="navigation">
    <ul>
        <li>
            <a href="/">Generator</a>
        </li>
        <li>
            <a href="/gallery">Gallery</a>
        </li>
    </ul>
</nav>
